<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex flex-col container mx-auto w-[35rem] border border-[#D8D8D8] my-5 rounded-2xl px-8 py-5" style="margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px; display: flex; width: 35rem; flex-direction: column; border-radius: 1rem; border-width: 1px; border-color: #D8D8D8; padding-left: 32px; padding-right: 32px; padding-top: 20px; padding-bottom: 20px;">
        <div>
            
            <div class="my-5 text-2xl font-semibold text-center" style="margin-top: 20px; margin-bottom: 20px; text-align: center; font-size: 24px; font-weight: 600;">
                Thankyou for your visit!
            </div>
            <div class="mb-5 text-sm text-center" style="margin-bottom: 20px; text-align: center; font-size: 14px;">
                We hope to see you again. Here’s your unique Petronas MagicPass.
            </div>
            <div class="flex justify-center" style="display: flex; justify-content: center;">
                <img src="https://imgur.com/WeJWvTe" width="250px">
            </div>
            <div class="flex justify-center items-center pb-5 mb-2 w-full" style="margin-bottom: 8px; display: flex; width: 100%; align-items: center; justify-content: center; padding-bottom: 20px;">
                <div>
                    <a type="button" href="#" target="_blank" class="text-center w-56 no-underline text-white bg-[#00A19C] hover:bg-[#00A19C] font-bold rounded-md text-sm px-5 py-3.5 mr-auto dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none " style="margin-right: auto; width: 224px; border-radius: 0.375rem; background-color: #00A19C; padding-left: 20px; padding-right: 20px; padding-top: 14px; padding-bottom: 14px; text-align: center; font-size: 14px; font-weight: 700; color: #fff; text-decoration-line: none;">View your MagicPass</a>
                </div>
            </div>
            <div class="rounded-xl bg-[#EBF7F6] p-5 text-center mb-5" style="margin-bottom: 20px; border-radius: 0.75rem; background-color: #EBF7F6; padding: 20px; text-align: center;">
                <div class="font-bold text-2xl mb-4" style="margin-bottom: 16px; font-size: 24px; font-weight: 700;">How was your experience?</div>
                <div class="mb-4 text-sm" style="margin-bottom: 16px; font-size: 14px;">Tap to rate!</div>
                <div class="flex justify-center items-center gap-2" style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.7566 13.3852L21.2742 2.00787C20.5872 -0.225279 17.4128 -0.225279 16.7494 2.00787L13.2433 13.3852H2.70135C0.403429 13.3852 -0.544166 16.3235 1.32733 17.6399L9.95045 23.7517L6.5628 34.5883C5.87579 36.7745 8.4343 38.5375 10.2584 37.1506L19 30.5687L27.7415 37.1741C29.5657 38.561 32.1242 36.798 31.4372 34.6118L28.0495 23.7752L36.6726 17.6634C38.5441 16.3235 37.5965 13.4087 35.2986 13.4087H24.7566V13.3852Z" fill="#D4DAE7"/>
                        </svg>
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.7566 13.3852L21.2742 2.00787C20.5872 -0.225279 17.4128 -0.225279 16.7494 2.00787L13.2433 13.3852H2.70135C0.403429 13.3852 -0.544166 16.3235 1.32733 17.6399L9.95045 23.7517L6.5628 34.5883C5.87579 36.7745 8.4343 38.5375 10.2584 37.1506L19 30.5687L27.7415 37.1741C29.5657 38.561 32.1242 36.798 31.4372 34.6118L28.0495 23.7752L36.6726 17.6634C38.5441 16.3235 37.5965 13.4087 35.2986 13.4087H24.7566V13.3852Z" fill="#D4DAE7"/>
                        </svg>
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.7566 13.3852L21.2742 2.00787C20.5872 -0.225279 17.4128 -0.225279 16.7494 2.00787L13.2433 13.3852H2.70135C0.403429 13.3852 -0.544166 16.3235 1.32733 17.6399L9.95045 23.7517L6.5628 34.5883C5.87579 36.7745 8.4343 38.5375 10.2584 37.1506L19 30.5687L27.7415 37.1741C29.5657 38.561 32.1242 36.798 31.4372 34.6118L28.0495 23.7752L36.6726 17.6634C38.5441 16.3235 37.5965 13.4087 35.2986 13.4087H24.7566V13.3852Z" fill="#D4DAE7"/>
                        </svg>
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.7566 13.3852L21.2742 2.00787C20.5872 -0.225279 17.4128 -0.225279 16.7494 2.00787L13.2433 13.3852H2.70135C0.403429 13.3852 -0.544166 16.3235 1.32733 17.6399L9.95045 23.7517L6.5628 34.5883C5.87579 36.7745 8.4343 38.5375 10.2584 37.1506L19 30.5687L27.7415 37.1741C29.5657 38.561 32.1242 36.798 31.4372 34.6118L28.0495 23.7752L36.6726 17.6634C38.5441 16.3235 37.5965 13.4087 35.2986 13.4087H24.7566V13.3852Z" fill="#D4DAE7"/>
                        </svg>
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.7566 13.3852L21.2742 2.00787C20.5872 -0.225279 17.4128 -0.225279 16.7494 2.00787L13.2433 13.3852H2.70135C0.403429 13.3852 -0.544166 16.3235 1.32733 17.6399L9.95045 23.7517L6.5628 34.5883C5.87579 36.7745 8.4343 38.5375 10.2584 37.1506L19 30.5687L27.7415 37.1741C29.5657 38.561 32.1242 36.798 31.4372 34.6118L28.0495 23.7752L36.6726 17.6634C38.5441 16.3235 37.5965 13.4087 35.2986 13.4087H24.7566V13.3852Z" fill="#D4DAE7"/>
                        </svg>                                                                                                                                                                
                </div>
            </div>
            <div class="font-bold text-xl mb-4" style="margin-bottom: 16px; font-size: 20px; font-weight: 700;">Recommendations for you</div>
            <div class="py-4 flex justify-stretch h-[35vh] items-stretch" style="display: flex; height: 35vh; align-items: stretch; justify-content: stretch; padding-top: 16px; padding-bottom: 16px;">
                <div class="w-full" style="width: 100%;">
                    <img src="https://imgur.com/hVpsGVE">
                </div>
                <div class="font-semibold h-full w-full" style="height: 100%; width: 100%; font-weight: 600;">
                    <div class="text-sm font-semibold text-[#808080] mb-2" style="margin-bottom: 8px; font-size: 14px; font-weight: 600; color: #808080;">DONATE</div>
                    <div class="text-xl font-semibold mb-2" style="margin-bottom: 8px; font-size: 20px; font-weight: 600;">Support renewable energy efforts</div>
                    <div class="text-sm mb-2" style="margin-bottom: 8px; font-size: 14px;">Contribute to gas advocacy and clean energy (solar panel installation, recycle bins).</div>
                    <button type="button" href="#" target="_blank" class="text-center w-20 no-underline text-white bg-[#00A19C] hover:bg-[#00A19C] font-bold rounded-md text-sm py-3.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none " style="width: 80px; border-radius: 0.375rem; background-color: #00A19C; padding-top: 14px; padding-bottom: 14px; text-align: center; font-size: 14px; font-weight: 700; color: #fff; text-decoration-line: none;">Donate</button>
                </div>
            </div>
            <div class="font-bold text-xl mb-4" style="margin-bottom: 16px; font-size: 20px; font-weight: 700;">Shop our hottest merchandise</div>
            <div class="py-4 flex justify-stretch h-[35vh] items-stretch" style="display: flex; height: 35vh; align-items: stretch; justify-content: stretch; padding-top: 16px; padding-bottom: 16px;">
                <div class="font-semibold h-full w-full" style="height: 100%; width: 100%; font-weight: 600;">
                    <div class="text-sm font-semibold text-[#808080] mb-2" style="margin-bottom: 8px; font-size: 14px; font-weight: 600; color: #808080;">LIMITED EDITION</div>
                    <div class="text-xl font-semibold mb-2" style="margin-bottom: 8px; font-size: 20px; font-weight: 600;">Petronas Motorsport Collections Edition</div>
                    <div class="text-sm mb-2 text-[#505050]" style="margin-bottom: 8px; font-size: 14px; color: #505050;">RM582.00</div>
                    <button class="text-sm font-semibold text-[#808080] mb-2" style="margin-bottom: 8px; font-size: 14px; font-weight: 600; color: #808080;">Get it now</button>
                </div>
                <div class="w-full" style="width: 100%;">
                    <img src="https://imgur.com/gZlAw0t">
                </div>
            </div>
            <div class="py-4 flex justify-stretch h-[35vh] items-stretch" style="display: flex; height: 35vh; align-items: stretch; justify-content: stretch; padding-top: 16px; padding-bottom: 16px;">
                <div class="w-full" style="width: 100%;">
                    <img src="https://imgur.com/gdWN4Yp">
                </div>
                <div class="font-semibold h-full w-full" style="height: 100%; width: 100%; font-weight: 600;">
                    <div class="text-sm font-semibold text-[#808080] mb-2" style="margin-bottom: 8px; font-size: 14px; font-weight: 600; color: #808080;">LIMITED EDITION</div>
                    <div class="text-xl font-semibold mb-2" style="margin-bottom: 8px; font-size: 20px; font-weight: 600;">PETRONAS Lanyard Pass Combo</div>
                    <div class="text-sm mb-2 text-[#505050]" style="margin-bottom: 8px; font-size: 14px; color: #505050;">From RM188.65 - RM684.90</div>
                    <button class="text-sm font-semibold text-[#808080] mb-2" style="margin-bottom: 8px; font-size: 14px; font-weight: 600; color: #808080;">Get it now</button>
                </div>
            </div>
            <div class="font-bold text-xl mb-4" style="margin-bottom: 16px; font-size: 20px; font-weight: 700;">One app to Setel your needs</div>
            <div class="text-sm mb-2 text-[#505050]" style="margin-bottom: 8px; font-size: 14px; color: #505050;">Refuel and pay for parking, shopping, motor insurance, charge EV, and more.</div>
            <div class="text-sm mb-4 text-[#505050]" style="margin-bottom: 16px; font-size: 14px; color: #505050;"><a class="font-semibold" style="font-weight: 600;">For a limited time only:</a> Register with C-FUEL to enjoy RM5 cashback for your first cumulative RM20 on fuel purchase.</div>
            <div>
                <img src="https://imgur.com/OVrIRFp">
            </div>
        </div>
    </div>

</body>



</html>